.scrolling_effect::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .scrolling_effect {
    -ms-overflow-style: none;
  }

  .box-elem {
    box-shadow: 2px 3px 5px 2px rgb(139 129 129 / 49%);
    margin: 1rem;
    background-color: #ffffff;
    min-height: 600px;
  }

  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge add Firefox */
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
  }
  